.filters-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Mínimo 200px por filtro */
  gap: 20px;
  margin-bottom: 20px;
}

.filter-container {
  flex: 1;
  min-width: 100px;
}

.filter-select {
  margin-top: 10px;
  padding: 10px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 25px;
  width: 70%; /* Se ajusta al contenedor para ser más responsive */
  appearance: none;
  background-color: #f9f9f9;
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px 16px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.filter-select:hover {
  background-color: #e9e9e9;
  border-color: #bbb;
}

.filter-select:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.filter-select option {
  padding: 10px;
  background-color: #fff;
  color: #333;
  font-size: 16px;
}

@media (max-width: 768px) {
  .filters-wrapper {
    grid-template-columns: 1fr 1fr; /* Los filtros se apilan en pantallas más pequeñas */
    gap: 10px;
  }

  .filter-select {
    width: 100%; /* Asegura que los selects ocupen el ancho completo del contenedor */
  }
}

@media (max-width: 480px) {
  .filters-wrapper {
    grid-template-columns: 1fr; /* Un filtro por fila en pantallas muy pequeñas */
  }
  .filter-select {
    font-size: 14px; /* Reducir un poco el tamaño de la fuente en pantallas más pequeñas */
    padding: 8px 8px;
    background-position: right 5px center; /* Ajustar icono de desplegable */
  }

  .filter-select option {
    font-size: 14px;  /* Reducir el tamaño de la fuente */
    padding: 5px;     /* Reducir el padding */
  }
}
