
.divNavBar { 
    background-color:#0F4C75;
    display: flex; 
    gap: 200px; 
    width: 100%; 
    align-items: center; 
} 

.logo { 
    height: 70px; 
    width: 200px; 
    
} 

.divPerfilContainer {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 20px; 
    margin-right: 20px;
}

.divPerfil{ 
    text-align:left; 
} 
.divPerfil .nombre { 
    color: white; 
    margin-bottom: 5px; 
}
.divPerfil .Rol { 
    color: #BBE1FA; 
    margin-top: 0; 
    font-family:monospace; 
}
.options{
    padding: 10px 15px;
    border: none; 
    border-radius: 30px;
    cursor: pointer;
}
