/* Estilos generales */
.container {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
}

/* Estilos de la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #F9FBFD;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E3E6E8;
    color: #333;
}

th {
    background-color: #3F88C5;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    height: 30px;
}

td:last-child {
    width: 50px;
    text-align: center;
}

.trash-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('/icons/TrashIcon.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.trash-icon:hover {
    width: 25px;
    height: 25px;
    background-image: url('/icons/TrashIconHover.svg');
}

td {
    font-size: 14px;
}

tr:hover {
    background-color: #E5F1FB;
    cursor: pointer;
}

/* Estilos del botón */
.button-empleados {
    background-color: #3F88C5;
    color: white;
    padding: 20px;
    width: 55px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.button-empleados:hover {
    background-color: #2C6BA1;
}

.button-empleados:active {
    transform: scale(0.98);
}

/* Media Queries para responsive design */

/* Para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0 10px;
        margin-top: 20px;
    }
    
    th, td {
        padding: 8px 10px;
        font-size: 12px;
    }

    table{
        overflow-x: auto;
    }

    td:last-child {
        width: 40px;
    }
    
    .trash-icon {
        width: 20px;
        height: 20px;
    }

    .button-empleados {
        padding: 15px;
        width: 45px;
        bottom: 15px;
        right: 15px;
    }
}

/* Para pantallas extra pequeñas */
@media (max-width: 480px) {
    th, td {
        padding: 6px 8px;
        font-size: 10px;
    }

    td:last-child {
        width: 35px;
    }
    
    .trash-icon {
        width: 18px;
        height: 18px;
    }

    .button-empleados {
        padding: 10px;
        width: 40px;
        bottom: 10px;
        right: 10px;
    }
}
