/* Estilos del contenedor principal */
.container {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  }

  .table-container {
    border-radius: 8px;
    overflow-x: auto;
  }
  
  /* Tabla */
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    overflow-y: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #F9FBFD;
  }

  
  .table th,
  .table td {
    padding: 12px 12px;
    text-align: center;
  }
  
  th {
    background-color: #3F88C5;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}
  
  .table td {
    border-bottom: 1px solid #ddd;
  }
  
  .table input[type="checkbox"] {
    transform: scale(1.2);
  }
  
  /* Fila de total */
  .total-row td {
    font-weight: bold;
  }
  
  /* Botón de imprimir */
  .footer {
    text-align: right;
  }
  
  .print-button {
    background-color: #004080;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .print-button:hover {
    background-color: #003366;
  }

  