.menuContainer {
    position: relative;
  }
  
  .menuButton {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .menuIcon {
    width: 30px;
    height: 30px;
  }
  
  .dropdownMenu {
    position: absolute;
    background-color: #0f4c75;
    color: aliceblue;
    top: 40px;
    right: 0;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 10;
  }
  
  .dropdownMenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .dropdownMenu li {
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .dropdownMenu li:hover {
    background-color: #3282b8;
  }
  .Link {
    text-decoration: none;
    color:aliceblue; 
    display: block; 
  }
  .centeredButton {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px; 
    
  }  